snippet fig "if ... then (if)"
\begin{figure}
	\centering
	\fcolorbox{blue1}{white}{\includegraphics[width=0.45\textwidth]{${1:img/img.eps}}}
	\caption{${2:description}}
	\label{${3:label}}
\end{figure}
endsnippet
